.searchContainer{
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
    background-color: rgba(202, 155, 90, 0.603);

}
.searchInput{
    border: transparent;
    padding: 10px;
    background: transparent;
    width: 70%;
}

.searchButton{
    padding: 10px;
    border-color: transparent;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease-in-out;
}

.searchButton:hover{
    background:rgb(202, 135, 46);
    color: black;
    cursor: pointer;
}
