.filter{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    border: none;
    color: rgb(46, 46, 46);
    width: 80%;
    max-width: 200px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.filter:hover{
    color: rgb(255, 255, 255);
    background: rgb(46, 46, 46);
}
.filterContainer{
    display: flex;
    justify-content: space-around;
    width: 60%;
    gap:10px;
}
.button{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    border: none;
    color: rgb(46, 46, 46);
    width: 50%;
    max-width: 200px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    color: rgb(255, 255, 255);
    background: rgb(46, 46, 46);
}

/* media queries */
@media screen and (max-width: 768px) {
    .filterContainer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap:10px;
    }
    .button{
        width: 50%;
        max-width: 200px;
    }
}
