.pagesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
.itemList{
    list-style-type: none;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: black;
    color:white;
    cursor: pointer;
    border-radius: 50%;
}