.headerContainer{
    height: fit-content;
    background-color: rgba(20, 18, 15, 0.774);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-image: linear-gradient(rgba(224, 181, 38, 0.623), rgba(65, 37, 11, 0.9)), url('../../assets/nav-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(50%);
    align-items: center;
    width: 100%;
    gap: 10px;
}
.headerLogo{
    font-size: 2rem;
    color: rgb(247, 245, 241);
    text-transform: uppercase;
    padding: 1.5rem;
    width: 70%;
    font-weight: bold;
border-radius: 20px;
max-width: 500px;
}

.headerFilters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.headerCreate{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(202, 155, 90, 0.603);
    border: none;
    color: white;
}
/* Media queries */
@media screen and (min-width: 768px){
    .headerContainer{
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .headerFilters{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .headerLogo{
        font-size: 4rem;

        text-transform: uppercase;
    }
}